<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/wenjieproj2/src/wenjieproj2/CalculatorFrame.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="wenjieproj2.CalculatorFrame"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="wenjieproj2"/>
</launchConfiguration>
