<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/proj3fa16/src/proj3fa16/Proj3TestingApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="proj3fa16.Proj3TestingApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="proj3fa16"/>
</launchConfiguration>
